<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Node App</title>
    <style>
        body {
            background-color: aqua;
        }

        nav{
            background-color: black;
        }

        a{
            color: white;
            text-decoration: none;
            font-weight: bold;
        }


    </style>

    {{style}}
</head>

<body>
    <header>
        <nav>
            <a href="/">Admin</a> || 
            <a href="/about">Fees Management</a>
        </nav>
        <h1>My Node.js App</h1>
    </header>
    <main>
        {{content}}
    </main>
    <footer>
      
    </footer>
    <!-- Place for scripts -->
    {{script}}
</body>

</html>